@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* @import url("hover-min.css"); */
*{
  box-sizing: border-box;
  /* background-color: #282c34; */
}
hr {
  margin: 0px 0 20px 0;
  width: 18%;
  color: red;
  background-color: orangered;
  height: 10px;
  border: 1px 0 0 0;
  border-style:dotted;
}
.app {
  width: 90%;
  margin: auto;
}

body{
  background-color: #282c34ce;
  color: #eee;
}

/* ============Gallery========== */

.cover{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.505);
  padding: 30px;
  border-radius: 20px;
  height: 600px;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  margin-top: 50px;
  border: 1px solid #000;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}


.left_cover{
  width: 65%;
  height: 100%;
  background: #fff url(https://images.unsplash.com/photo-1549740425-5e9ed4d8cd34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) center center/cover no-repeat;
  /* background-color: #282c3408; */
  
  font-family: 'Oswald', sans-serif;
  border-radius: 20px;
  padding-right: 20px;
  /* padding-left: 20px; */
}
.title{
  font-family: 'Oswald', sans-serif;
}
.Front{
  color: #eeeeee;
  text-align: center;
  /* line-height: 3; */
  margin-top: 10px;
  padding-left: 20px;
  /* margin-left: 50%; */
  /* border: 1px solid #000; */
}
.Main{
  color: aliceblue;
  text-align: center;
  /* margin-top: 300px; */
  background-color:#282c346d;
  /* box-shadow: 5px 5px 5px 0px rgba(250, 243, 243, 0.467); */
  box-shadow: 7px 8px 66px 26px rgba(140, 131, 131, 0.76);
  border-radius: 20px;
  width: 50%;
  margin: 120px auto;
  padding: 20px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  font-size: 4rem;
}
/* .left img{
  width: 100%;
  height: 555px;
} */
.right {
  /* width: 30%; */
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-content: space-around;
}
.img1{
  width: 100%;
  height: 280px;
  background: #fff url(https://cdn.wallpapersafari.com/40/92/HvIEnr.png) center bottom/cover no-repeat;
  border-radius: 20px;
}
.img1_block{
  font-size: 5rem;
  color: #282c34;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 80px;
}
.img1_block:hover{
  color: white;
}
.hoverImg{
  color: #eee;
}
.hoverImg:hover{
  color:steelblue;
}
.img2{
  width: 100%;
  height: 280px;
  background: #fff url(https://burst.shopifycdn.com/photos/ripe-red-strawberries-in-a-white-bowl.jpg?width=1200&format=pjpg&exif=1&iptc=1) center bottom/cover no-repeat;
  border-radius: 20px;
}

/* =============The Latest=============== */

.theLatest{
  width: 100%;
  min-height: 400px;
  background-color: rgba(240, 248, 255, 0.489);
  padding: 50px;
  display: flex;
  gap: 2rem;
  color: #000;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  /* background: #fff url(https://images.unsplash.com/photo-1473984951266-787b955c9e0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) center bottom/cover no-repeat; */
  /* padding-bottom: 100px; */
  /* transition: box-shadow 0.8s 0s ease-in-out, border-radius 0.6s 0s ease; */
}

.page_latest{
  width: 40%;
  /* border: 1px solid #000; */
}


.page_latest > img{
  border-radius: 20px;
  transition: all 500ms ease;
}
/* .page_latest:hover{
  width: 42%;
} */

.page_latest h1{
  color: #000;
}

.img-latest img{
  width: 100%;
  height: 300px;
  /* border-radius: 20px; */
  /* border: 5px solid #000; */
  transition: box-shadow 0.8s 0s ease-in-out, border-radius 0.6s 0s ease;
}
.img-latest img:hover{
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* =============The Latest Articles=============== */
.details{
  padding: 20px;
}
.details h1{
  margin-top: 0%;
  padding-top: 0%;
  color: #000;
}
.outerBox{
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 5rem;
  box-sizing: border-box;
  /* border: 1px solid #000; */
}
left_artical{
  /* width: 70%; */
  border: 1px solid #000;
}
/* .right-artical{

} */
.imgSource img{
  width: 100%;
  height: 200px;
  /* border: 1px solid #000; */
  border-radius: 10px;
}
.outLine h1{
  color: white;
}

.arti{
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  border-radius: 5px;
  margin-bottom: 40px;
  /* border: 1px solid #000; */
  
  /* border: 1px solid #000; */
  background-color:EEF1FF;
  padding: 20px;
  transition: all 500ms ease;
}
.arti:hover{
  background-color: #fff;
  color: black;
  border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.imgg img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-left: 20px;
  /* overflow: hidden; */
  /* border: 10px solid #000; */
}


/* TopPost */

.temp{
  width: 100%;
  /* height: 200px; */
  /* border: 1px solid #000; */
}
.temp img{
  border-radius: 5px;
}

/* ========================LatestStoriesDetails=============== */
.LatestStoriesDetails{
  width: 40%;
  height: 300px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #000;
  box-shadow: 5px 10px 10px gray;
  padding: 20px;
  /* margin-bottom: 100px; */
}

/* =========== SinglePageBlog=========== */

.container{
  height: 1000px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.left_Single_Page{
  width: 50%;
  padding: 20px;
  /* border: 1px solid #000; */
}
.right_Single_Page{
  width: 50%;
  /* border: 1px solid #000; */
  padding: 20px;
}

.img_latest_Single img{
  width: 200%;
  border-radius: 15px;
  transition: all 800ms ease;
}

.img_latest_Single img:hover{
  border-radius: 30px;
  box-shadow: 5px 5px 5px 0px rgba(159, 158, 158, 0.75);
  border: 2px solid #000;
}

.bottom{
  /* border: 1px solid #000; */
  display: flex;
  gap: 2rem;
}



/* ==============RegistrationPage=============== */

.validationForm{
  width: 80%;
  /* height: 400px; */
  margin: auto;
  margin-top: 30px;
  border: 3px solid #000;
}
.validationForm h1{
  display: inline-block;
 border-bottom: 4px solid #ffffff;
}
.validationForm h1:hover{
  color: rgba(42, 183, 218, 0.845);
  cursor: pointer;
}
.container{
  /* border: 1px solid #000; */
  display: flex;
  height: 600px;
  /* flex-direction: column; */
  /* justify-content:flex-start; */
  align-items: center;
}
.Main_left{
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  background-color:cornflowerblue;
}
.Main_right {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
  padding: 50px 100px;
  background-image: url(./images/Frontleftimg.jpg);
  background-position: top left;
}

.field{
  display: inline-block;
  font-size: 1.7rem;
  width: 100%;
  margin-bottom: 10px;
  /* border: 1px solid #000; */
}
/* .textFeilds{
  width: 80%;
  padding: 1.8%;
  border-radius: 7px;
  font-size: 1rem;
  border: none;
} */

.enjoy-css {
  display: inline-block;
  width: 90%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* margin: 250px; */
  padding: 8px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 18px/normal "Times New Roman", Times, serif;
  color: rgba(0, 142, 198, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(178, 178, 178, 0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(178, 178, 178, 0.2) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  /* background: #47c; */
  border-radius: 3px;
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
  padding: 10px 15px 10px 41px;
  /* box-shadow: 0px 2px 0px #25a; */
  color: #fff;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  margin-top: 20px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3)
}

.button>div {
  color: #999;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
}

.button>i {
  font-size: 1em;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 14px 7px 14px 7px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 34px
}

.button>.ld {
  font-size: initial
}
.logOut-btn{
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  transition: all 1s;
  background-color: skyblue;
}
.logOut-btn:hover{
  background-color: #444;
}
.centerpoint{
  margin-top: 100px;
  padding: 50px;
  height: 30vh;
  background-color: #999;
}